<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.pokemon.play.dao.IngamePokemonMapper">

  <resultMap id="dataResultMap" type="kr.co.pokemon.play.dto.IngamePokemonDTO" autoMapping="true">
    <result column="is_ingame" property="isIngame" />
    <result column="stage_id" property="stageId" />
    <result column="max_stage_id" property="maxStageId" />
    <result column="created_at" property="createdAt" />
    <result column="updated_at" property="updatedAt" />
  </resultMap>

  <select id="selectAll" resultMap="dataResultMap" parameterType="kr.co.pokemon.data.dto.PageRequestDTO">
    SELECT * FROM ingame_pokemon ORDER BY updated_at OFFSET ((#{page} - 1) * #{size}) ROWS FETCH NEXT #{size} ROWS ONLY
  </select>

  <select id="selectById" resultMap="dataResultMap" parameterType="int">
    SELECT * FROM ingame_pokemon WHERE id = #{id}
  </select>

  <select id="selectByPlayerId" resultMap="dataResultMap" parameterType="int">
    SELECT * FROM ingame_pokemon WHERE player_id = #{playerId} ORDER BY slot DESC
  </select>
  
  <insert id="insert">
  	INSERT INTO ingame_pokemon
  		( id )
  	VALUES
  		( #{id} )
  </insert>

</mapper>