<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.pokemon.pokemon.dao.relationship.OwnershipMapper">

    <select id="getPokemonOwnership" resultType="kr.co.pokemon.pokemon.dto.relationship.OwnershipDTO">
        SELECT 
            p.id AS pokemonId,
            CASE WHEN pp.pokemon_id IS NOT NULL THEN true ELSE false END AS isOwned
        FROM 
            pokemon p
        LEFT JOIN 
            player_pokemon pp ON p.id = pp.pokemon_id AND pp.player_id = #{playerId}
        ORDER BY 
            p.id
    </select>

</mapper>
