<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.pokemon.item.dao.ItemMapper">

  <resultMap id="dataResultMap" type="kr.co.pokemon.item.dto.ItemDTO" autoMapping="true">
    <result column="created_at" property="createdAt" />
    <result column="updated_at" property="updatedAt" />
  </resultMap>

  <select id="selectAll" resultMap="dataResultMap" parameterType="kr.co.pokemon.data.dto.PageRequestDTO">
    SELECT * FROM item OFFSET ((#{page} - 1) * #{size}) ROWS FETCH NEXT #{size} ROWS ONLY
  </select>
  
  <select id="selectById" resultMap="dataResultMap" parameterType="int">
    SELECT * FROM item WHERE id = #{id}
  </select>

  <select id="selectByCategoryId" resultMap="dataResultMap" parameterType="int">
    SELECT * FROM item WHERE id = #{category_id}
  </select>
  
  <select id="existById" resultType="int" parameterType="int">
	SELECT CASE
	    WHEN EXISTS (SELECT 1 FROM item WHERE id = #{id}) THEN 1
	    ELSE 0
	END
	FROM dual
  </select>
  
  <insert id="insert">
   INSERT INTO item
        ( id, name, image, category_id, description, cost, real_cost)
    VALUES
        ( #{id}, #{name}, #{image}, #{categoryId}, #{description}, #{cost}, #{realCost})
  </insert>


</mapper>