<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.pokemon.player.dao.PlayerMapper">

  <resultMap id="dataResultMap" type="kr.co.pokemon.player.dto.PlayerDTO" autoMapping="true">
  	<result column="game_money" property="gameMoney" />
  	<result column="real_money" property="realMoney" />
    <result column="created_at" property="createdAt" />
    <result column="updated_at" property="updatedAt" />
  </resultMap>

  <select id="selectAll" resultMap="dataResultMap">
    select * from player
  </select>
  <select id="selectById" resultMap="dataResultMap">
    select * from player where id = #{id}
  </select>
  <select id="chooseById" resultMap="dataResultMap">
    select * from player where id = #{id}
  </select>
  
  <insert id="insertPlayer">
  	insert into player 
  		(id, nickname, tag, password, lv, experience, gameMoney, realMoney)
  	values (
  		#{id}, #{nickname}, #{tag}, #{password}, 1,0,0,0 
  	)
  </insert>
  
  <update id="updatePlayer">
  	update player set (
  		nickname = #{nickname},
  		tag = #{tag},
  		profile = #{profile},
  		password = #{password},
  		description = #{description}
  	) where id = #{id}
  </update>
  
  <update id="updatePlayerBySystem">
  	update player set (
  		lv = #{lv},
  		experience = #{experience},
  		game_money = #{gameMoney},
  		real_money = #{realMoney}
  	) where id = #{id}
  </update>
  
  <delete id="deletePlayer">
  	delete from player where id = #{id} 
  </delete>
  
 <select id="selectLogin" parameterType="java.util.Map" resultMap="dataResultMap">
        select * from player where id = #{id} and password = #{password}
    </select>

</mapper>