main {
	background-color: black;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	position: relative;
	min-width: 800px;
    min-height: 450px;
    border-radius: 5px;
    background-image: url(/images/play/battle/mountain.png);
    background-size: contain;
    opacity: 0;
    transition: 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container__background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000060;
}

.modal-wrapper {
    width: 350px;
    height: 270px;
    border-radius: 5px;
    background-image: url(/images/container.png);
    background-size: contain;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal-wrapper__grid {
	width: 100%;
	height: 100%;	
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    z-index: 10;
}

.modal-wrapper__content {
	position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 20px;
    color: white;
}

.modal-wrapper__content--title {
	font-size: 25px;
    margin-bottom: 15px;
}

.modal-wrapper__content--content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-wrapper__content--item-title {
    font-size: 18px;
    color: #79d3ff;
    margin-bottom: 10px;
}

.modal-wrapper__content--item {
	width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-wrapper__content--item > span {
	width: 50px;
}

.modal-wrapper__content--item img {
	width: 20px;
}

.modal-wrapper__content--btn {
	position: absolute;
    bottom: 0;
    background-image: url(/images/wood-bar.png);
    background-size: contain;
    width: 160px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(0.8);
    transition: filter .1s ease-in-out;
}

.modal-wrapper__content--btn:hover {
	filter: brightness(1);
	transform: scale(1.02);
}

.modal-wrapper__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: brightness(0.1);
    transition: .2s ease-in-out;
}

.modal-wrapper__item--title {
	font-size: 12px;
}

.modal-wrapper__item--hp {
	width: 60%;
    height: 10px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 5px 0;
    overflow: hidden;
}

.modal-wrapper__item--hp-bar {
	width: 100%;
    height: 100%;
    background-color: green;
}

.modal-wrapper__item--image {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-wrapper__item--image img {
    max-height: 70px;
}

.modal-wrapper__item.active-item:hover {
    filter: brightness(1);
	color: white;
}

.modal-wrapper__item.select-item {
    filter: drop-shadow(0 0 10px #2E9AFE);
}

.text-box {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 400px;
    height: 100px;
    background-color: #00000080;
    border-radius: 5px;
    padding: 20px;
    color: white;
}

.text-box.wait::after {
    position: absolute;
    content: "";
    border-top: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: 10px;
    right: 10px;
    animation: damaged-it 1s ease-in-out infinite;
}

.text-box > .text-box__comment {
    width: max-content;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
}

.text-box > .text-box__comment:not(:last-child) {
    margin-bottom: 5px;
}

.pokemon {
    position: absolute;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.pokemon.me {
    bottom: 20px;
    left: 50px;
}

.pokemon.you {
	bottom: 240px;
	right: 50px;
}

.pokemon__info {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon__info--level {
	font-size: 12px;
}

.pokemon__info--name {
	font-size: 15px;
}

.pokemon__info--hp {
    margin-top: 5px;	
}

.hp-bar {
    border: 2px solid black;
    width: 150px;
    height: 15px;
    border-radius: 60px;
    overflow: hidden;
}

.hp-bar__value {
    width: 100%;
    height: 100%;
    background-color: #34ff1e;
    transition: 1s ease-in-out;
}

.pokemon-image {
	display: flex;
	justify-content: center;
}

.pokemon-image img {
	margin-top: 10px;
	min-height: 100px;
}

.pokemon.me .pokemon-image img {
	width: 150px;
}

.selection-box {
	position: absolute;
	bottom: 25px;
	right: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.selection-box__group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.selection-box > .selection-box__group > .selection-box__back {
    content: "";
    position: absolute;
    top: 0;
    right: -45px;
    width: 35px;
    height: 34px;
    background-image: url(/images/play/battle/back.png);
    background-size: contain;
    transition: .2s ease-in-out;
    opacity: 0;
}

.selection-box > .selection-box__group > .selection-box__back.active {
    opacity: 1;
}

.selection-box > .selection-box__group > .selection-box__back:hover {
    transform: scale(1.1) rotate(-10deg);
}

.selection-box__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 35px;
    background-color: #00000080;
    color: white;
    transition: .2s ease-in-out;
    opacity: 0;
}

.selection-box__btn > img {
    width: 18px;
    margin-right: 5px;
}

.selection-box__btn:not(.none-btn):hover {
	transform: translate(10px) scale(1.03);
	color: #f9ed40;
}
.selection-box__btn:not(:last-child) {
	margin-bottom: 10px;
}

.selection-box__btn:nth-child(2) {
	margin-right: 20px;
}

.selection-box__btn:nth-child(3) {
	margin-right: 40px;
}

.selection-box__btn:nth-child(4) {
	margin-right: 60px;
}

.right-attack-pokemon {
	animation: right-attack-that .5s ease-in-out;
}

.left-attack-pokemon {
	animation: left-attack-that .5s ease-in-out;
}

.damaged-pokemon {
	animation: damaged-it .3s ease-in-out infinite;
}

.active-device {
    opacity: 1;
}

.active-btn {
    opacity: 1;
}

.shake-device {
	animation: shake-it .3s ease-in-out;
}

.appearing-btn {
    animation: appeared-right .5s ease-in-out forwards;
}

@keyframes right-attack-that {
	0% { transform: translateX(0); }
	50% { transform: translateX(50px); }
	100% { transform: translateX(0); }
}

@keyframes left-attack-that {
	0% { transform: translateX(0); }
	50% { transform: translateX(-50px); }
	100% { transform: translateX(0); }
}

@keyframes damaged-it {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes shake-it {
	0% { transform: translateX(30px); }
	25% { transform: translateX(-30px); }
	50% { transform: translateX(0px); }
	75% { transform: translateX(-10px); }
	100% { transform: translateX(-10px); }
}

@keyframes appeared-right {
    0% {
        opacity: 0;
        transform: translateX(50px) rotateX(80deg);
    }
    100% {
        opacity: 1;
    }
}