/* 로비배경 설정 */
.main-container {
	position: relative;
	z-index:1;
    display: flex;
    height: 100vh;
    background : url('/images/poketmon_main.png') no-repeat center center/ cover;
}
.wood1{
	position: absolute;
  	top: 5%;
  	left: 3%;
  	z-index: 1;
}
.player{
	position: absolute;
  	top: 9.5%;
  	left: 6%;
	font-size:40px;
	z-index: 2;
	word-spacing: 100px;
	text-shadow: -1.5px -1.5px 0 #fff, 1.5px -1.5px 0 #fff, -1.5px 1.5px 0 #fff, 1.5px 1.5px 0 #fff;
}
.wood2{
	position: absolute;
  	top: 5%;
  	left: 48%;
}
.wood3{
	position: absolute;
  	top: 5%;
  	left: 74%;
}
.gold{
	position: absolute;
  	top: 5%;
  	left: 43%;
}
.money1{
	position: absolute;
  	top: 7.5%;
  	left: 53%;
  	font-size:36px;
  	color:white;
}
.diamond{
	position: absolute;
  	top: 5%;
  	left: 69%;
}
.money2{
	position: absolute;
  	top: 7.5%;
  	left: 79%;
  	font-size:36px;
  	color:white;
}
.option{
	position: absolute;
  	top: 5%;
  	left: 91%;
}
.poketmon1{
	position: absolute;
	width:40%;
  	bottom: 22%;
  	left: 3%;
}
.poketmon2{
	position: absolute;
  	bottom: 22%;
  	left: 19%;
}
.poketmon3{
	position: absolute;
  	bottom: 22%;
  	left: 35%;
}
.poketmon4{
	position: absolute;
  	bottom: 22%;
  	left: 51%;
}
.poketmon5{
	position: absolute;
  	bottom: 22%;
  	left: 67%;
}
.poketmon6{
	position: absolute;
  	bottom: 22%;
  	left: 83%;
}
.wood4{
	position: absolute;
  	bottom: 5%;
  	left: 3%;
}
.wood5{
	position: absolute;
  	bottom: 5%;
  	left: 23%;
}
.wood6{
	position: absolute;
  	bottom: 5%;
  	left: 43%;
}
.wood7{
	position: absolute;
  	bottom: 5%;
  	left: 63%;
}
.wood8{
	position: absolute;
  	bottom: 5%;
  	left: 83%;
}
.main-container button{
	position: absolute;
  	bottom: 5.3%;
	color:white;
	font-size:36px;
	border:none;
	cursor:pointer;
	width:14%;
	height:9%;
	background:none;
}
.indexbtn1{
	left: 3%;
}
.indexbtn2{
	left: 23%;
}
.indexbtn3{
	left: 43%;
}
.indexbtn4{
	left: 63%;
}
.indexbtn5{
	left: 83%;
}

/* 로그인배경 설정 */
.login-container {
	position:relative;
	background:url("../images/background.png") no-repeat center top /cover; 
    display: flex;
    height: 100vh;
}
/* 로그인 박스 */
.login-box {
	position: absolute;
	top: 28.7%;
  	left: 36.6%;
    background:rgb(255, 255, 255, 0.4);
    border-radius: 50px;
    text-align: center;
    width: 26.6%;
    height: 39%;
}
/* 입력 스타일 */
.idtext{
	position: absolute;
	top: 14.6%;
  	left: 13.2%;
	width : 73.5%;
	height: 16.5%;
	background:white;
	font-size:20px;
	color :black;
	border-radius: 15px;
	border:none;
	box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.4);
}
.pwtext{
	position: absolute;
	top: 38.3%;
  	left: 13.2%;
	width : 73.5%;
	height: 16.5%;
	background:white;
	font-size:20px;
	color :black;
	border-radius: 15px;
	border:none;
	box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.4);
}

.login-join a{
	position: absolute;
	color:white;
	text-decoration: none;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	font-size:20px;
	font-weight: 800;
}
.link1{
	top: 62%;
  	left: 13.2%;
}
.link2{
	top: 62%;
  	left: 44.6%;
}
.link3{
	top: 62%;
  	left: 71%;
}

/* 버튼 스타일 */
#loginBtn {
	position: absolute;
	top: 74.1%;
  	left: 13.2%;
    width: 73.5%;
    height: 16.5%;
    background-color: #08ADCA;
    color: white;
    border: none;
    font-size: 40px;
    border-radius: 15px;
    cursor:pointer;
}
/*소셜 로그인*/
.kakao{
	position: absolute;
	top: 70%;
  	left: 39.5%;
	width:10%;
	height:5%;
}
.naver{
	position: absolute;
	top: 70%;
  	left: 51%;
	width:10%;
	height:5%;
}
/*회원가입창 배경 */
.join-container {
	position:relative;
	background:url("../images/background.png") no-repeat center top /cover; 
	margin : 0 auto;
    display: flex;
    height: 100vh;
}
/* 회원가입창 박스 */
.join-box {
	position: absolute;
	top: 18.1%;
  	left: 36.6%;
    background:rgb(255, 255, 255, 0.4);
    border-radius: 50px;
    text-align: center;
    width: 26.6%;
    height: 64.7%;
}
.insert{
	position: absolute;
	width: 73.5%;
	top : 5%;
	left: 13%;
    padding: 3%;	
    background-color: #08ADCA;
    color: white;
    border: none;
    font-size:30px;
    border-radius: 15px;
}
/*회원가입 입력란*/
.join-box input{
	position: absolute;
	width : 54.5%;
	height: 10%;
	background:white;
	font-size:20px;
	color :black;
	border-radius: 15px;	
	border:none;
	box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.4);
}
.put1{
	top:20%;
	left:13%;
}
.put2{
	top:35%;
	left:13%;
}
.put3{
	top:50%;
	left:13%;
}
.put4{
	top:65%;
	left:13%;
}
/*가입 버튼*/
.accession{
	position: absolute;	
	top : 80%;
	left: 13%;
	width: 73.5%;
    padding: 3%;
    background-color: #08ADCA;
    color: white;
    border: none;
    font-size:30px;
    border-radius: 15px;
}
/*중복확인 버튼*/
.duplication{
	position: absolute;
	top : 20%;
	left: 71.5%;
	width:15%;
	height:10%;
	background-color: #08ADCA;
    color: white;
	border: none;
	border-radius: 10px;
}
.idmatch{
	position: absolute;
	font-size:13px;
	top: 31%;
  	left: 16%;
  	color: #008829;
}
.pwmatch{
	position: absolute;
	font-size:13px;
	top: 61%;
  	left: 16%;
  	color: #008829;
  	
}
/*로그인창돌아가기*/
.backbtn{
	position: absolute;
	top: 92%;
  	left: 35%;
  	width:30%;
	height:5%;
	background-color:  #008829;
    color: white;
	border: none;
	border-radius: 10px;
}