/* Google Fonts - Hanna */
@import url('https://fonts.googleapis.com/earlyaccess/hanna.css');

/* Reset CSS (로컬 파일 불러오기) */
@import url('/css/reset.css');  /* reset.css는 static 폴더 내에 있어야 합니다. */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}

body {
  font-family: 'Hanna', sans-serif;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
